.form-card {
    width: 400px;
    margin: auto;
    text-align: center;
    padding: 20px;
  }
  
  .form-logo {
    width: 100px;
    margin: auto;
    display: block;
  }
  
  .form-icon {
    margin-left: 5px;
  }

  .btn {
    margin-top: 20px;
  }